In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist:
    print(str(num) + " - Hello")

1 - Hello
2 - Hello
3 - Hello
4 - Hello
5 - Hello
6 - Hello
7 - Hello
8 - Hello
9 - Hello
10 - Hello

In [8]:
for num in mylist:
    # Check for Even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [11]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [15]:
list_sum = 0
list_string = ""

for num in mylist:
    list_sum = list_sum + num
    list_string = list_string + f' + {num}'
    
print(list_string[3::1] + ' = ' f'{list_sum}')

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

In [17]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:
for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [25]:
tup = (1,2,3)

for i in tup:
    print(i)

1
2
3

In [26]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [27]:
len(mylist)

4

In [30]:
for item in mylist:
    print(item)
    print(type(item))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
(5, 6)
<class 'tuple'>
(7, 8)
<class 'tuple'>

In [33]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [38]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [39]:
for a,b,c in mylist:
    print(b)

2
6
9

In [40]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [41]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [44]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    if key == 'k2':
        print(value)

2

In [45]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3